## All parameters which can be changed should be placed the config file.
#  This is not always the case so be aware that you must look in the steering files.
[DEFAULT]

# The path to this config file
BasePath          = /home/chenlj/ilcsoft/jadepixtel/v01-19-02
#Data can be found here. You should be able to run the examples listed int the runlist
#NativePath     = /afs/cern.ch/user/l/lbruni/eos_atlas/atlas/atlascerngroupdisk/strip-upgrade/testBeamData/desy_2015_october/raw
#The location of the steering templates
NativePath      = /home/chenlj/ilcsoft/jadepixtel/v01-19-02/native
TemplatePath    = %(BasePath)s/steering

# The GEAR file describing the detector geometry, this is passed from the runlist.csv
GearFile      = @GearGeoFile@.xml

# Path to the GEAR files
GearFilePath      = %(BasePath)s/geometry

# The XML file with histogram information. This is used to plot the histograms.
#Many histograms do not use this information.
HistoInfoFile     = %(TemplatePath)s/histoinfo.xml

# Formats the output; @RunNumber@ is the current run number padded with leading
# zeros to 6 digits
FilePrefix      = run@RunNumber@

# Skip events in a run; set to 0 for all data
SkipNEvents   = 0

# Output subfolder structure
DatabasePath    = ./output/database
HistogramPath   = ./output/histograms
LcioPath        = ./output/lcio
LogPath         = ./output/logs
ROOT_OUT_Path   = ./root

# Limit processing of a run to a certain number of events
MaxRecordNumber   = 50000

# The verbosity used by the EUTelescope producers (i.e. MESSAGE, DEBUG, ERROR
# with appended level from 0..9, e.g. MESSAGE5). If you set this to DEBUG0 but
# you do not see any DEBUG messages, make sure that you set CMAKE_BUILD_TYPE to
# Debug in the $EUTELESCOPE/CMakeList.txt file.
Verbosity   = MESSAGE5

# After how many events you want a "Processing event XXXX" message
NEventsMessage = 50000

[rootReader]
inputCollectionName = tracks
lcioInputName = GBLtracks
HistogramName=GBLtracks

[converter]

# How many events for noisy pixel analysis
NoOfEvents = 5000

M26SensorVec = 0 1 2 3 4 5
FiringFreqCutM26 = 0.003

[clustering]

[hitmaker]
localDistDUT =
#Number of events used for Correlator and PreAligner
NoEvents = 9999

#Residual cuts for Correlator and PreAligner
ResidualsXMax =  5.  5.  5.   20.   5.  5.  5.
ResidualsXMin = -5. -5. -5.  -20.  -5. -5. -5.
ResidualsYMax =  5.  5.  5.   20.   5.  5.  5.
ResidualsYMin = -5. -5. -5.  -20.  -5. -5. -5.
#Used so we can identify strip sensors. NOTE: This is done in the local frame. So if strip is rotated you must fix y axis rather than x.
ExcludedPlanesXCoord=
ExcludedPlanesYCoord=
ExcludedPlanes=

# Section for GBL alignment
[aligngbl]

GearFile    = @GearGeoFile@_pre.xml

MilleBinaryFile = %(DatabasePath)s/%(FilePrefix)s-aligngbl-mille.bin
PedeSteerFile = %(DatabasePath)s/%(FilePrefix)s-pede-gbl-steer.txt
GEARSuffix = _gbl1

# Number of track candidates to be used:
AlignTrackCandidates =
AlignTrackCandidatesTotal = 1000000

#Boolian for first alignment tep
isFirstAlignStep  = 1

#PreAlignRun
PreAlignRun = run000001

# Cut on triplet matching: 30, 30, 100 yields good millipede data for 20 mm set-up, 6 GeV
TripletCut = 0.040
DripletCut = 0.090
# Cut on triplet slope:
SlopeCut = 0.002
# Cut on GBL track matching:
SixCut = 0.100

#rm26 = 0.0034
#ResolutionPlane = %(rm26)s %(rm26)s %(rm26)s %(rm26)s %(rm26)s %(rm26)s

# Maximum distance in um for for matches used in EUTelMille/findTrack:
DistanceMax        = 2000

# Planes to exclude in alignment (not regarded at all)
ExcludePlanes        =

# Planes to consider as fixed in alignment (these planes are included in the
# alignment but with fixed positions)
# try 05, but also other combinations and compare resulting residuals
FixedPlanes        = 0 5

AlignIteration   = 1

# Section for GBL triplet tracking
[trackgbltriplet]
GearFile    = @GearGeoFile@_pre_gbl1.xml
 
#PreAlignRun
PreAlignRun = run@RunNumber@
 
# Cut on triplet matching: in mm !!
TripletCut = 0.040
 
#rm26 in mm !
rm26     = 0.00364
Resolution   = %(rm26)s %(rm26)s %(rm26)s %(rm26)s %(rm26)s %(rm26)s %(rm26)s %(rm26)s 
Thickness   = 0.050 0.050 0.050 0.038 0.050 0.050 0.050
Kappa     = 0.9
Probchi2_cut    = 0.01
eff_radius    = 0.05

dut_plane = 10
